@import "../vars.sass"

div.parameter-item
    position: relative
    display: flex

    input
        position: absolute
        top: 0
        left: 0
        z-index: -1
        opacity: 0
        &:checked + label
            border-color: #ffdd4d
            div.sub-info
                display: block
            div.price-wrap
                display: none

    div.sub-info
        display: none

    div.materials
        display: flex
        justify-content: flex-start
        flex-wrap: wrap

    div.material-circle
        height: 40px
        width: 40px
        border-radius: 50%
        border: 1px solid #ddd
        margin-right: 5px
        cursor: pointer
        background-size: cover

    label
        display: block
        background: #fff
        color: #555555
        border: 2px solid #cccccc
        cursor: pointer
        padding: 10px
        margin-top: 10px
        width: 100%

    img.main-image
        width: 100%

    p
        margin: 0
        margin-bottom: 10px

    &.cornice
        max-width: 150px
        margin-right: 10px

    &.mr
        margin-right: 10px

    &.w100
        width: 100%

    &.w50
        width: 50%

    &.w48
        width: 49%

    &.w30
        width: 32%